<script setup lang="ts">
import {
  mdiAccountCircleOutline,
  mdiSchoolOutline,
  mdiCakeVariantOutline,
  mdiMagnifyExpand,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="344" variant="outlined">
          <v-card-item>
            <v-img
              cover
              src="https://scontent.futp2-1.fna.fbcdn.net/v/t1.6435-9/60958834_1068076270069449_197976285580886016_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=jQrazw_x4ecAX83SW_Y&_nc_ht=scontent.futp2-1.fna&oh=00_AfAD29cQfCIUY_lsOl7evTplSBmhRSc9oQf-SOKh4naQnA&oe=63C65A35"
            ></v-img>
          </v-card-item>
        </v-card>
      </v-col>

      <v-col>
        <div justify="center">
          <v-card width="600px">
            <v-card-title class="text-h6 mb-1"
              ><v-icon :icon="mdiAccountCircleOutline" /> Name: Peeraya
              Paoboonprung.</v-card-title
            >

            <v-card-title class="text-h6 mb-1"
              ><v-icon :icon="mdiCakeVariantOutline" /> Date of birth: 25th July
              2001</v-card-title
            >

            <v-card-title class="text-h6 mb-1"
              ><v-icon :icon="mdiMagnifyExpand" /> Interested: Sunset with Sea
              and Game
            </v-card-title>
          </v-card>
        </div>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col>
        <div justify="center">
          <v-card color="#80d6ff" dark>
            <v-card-title class="text-h6 mb-1"
              ><v-icon :icon="mdiSchoolOutline" /> Education
            </v-card-title>
            <v-table>
              <thead>
                <tr color="#c3fdff">
                  <th>Year</th>
                  <th>Education Level</th>
                  <th>School Badges</th>
                  <th>Name of Shool</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2008 - 2014</td>
                  <td>Primary School</td>
                  <td>
                    <v-avatar size="200">
                      <v-img
                        src="https://scontent.futp2-1.fna.fbcdn.net/v/t39.30808-6/292092781_436866028449183_1432897954880921721_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=dNWcwD7A4tsAX_2WNwb&_nc_ht=scontent.futp2-1.fna&oh=00_AfB-WvKBlk7_qcsV_jVlmSyxVmT9AmwKgnlnhI661ucI3A&oe=63A483C1"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                  </td>
                  <td>Anubanphanatsuksalai School</td>
                </tr>
                <tr>
                  <td>2014 - 2020</td>
                  <td>High School</td>
                  <td>
                    <v-avatar size="150">
                      <v-img
                        src="https://upload.wikimedia.org/wikipedia/th/d/dd/2480x3508-604k_-_jpg.jpg"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                  </td>
                  <td>Phanatpittayakarn School</td>
                </tr>
                <tr>
                  <td>2020 - Present</td>
                  <td>Bachelor's Degree</td>
                  <td>
                    <v-avatar size="150">
                      <v-img
                        src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/11/buu_eng_transparent_grey_gold.png"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                  </td>
                  <td>Faculty of Informatics, Burapha University</td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
